@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color:#d5d5d5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    
}

.form {
    height: 600px;
    background-color: #eee;
    width: 270px;
    padding: 0;
    margin: 1rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px rgb(200, 197, 197);
    display: block;
    text-align: center;
}

.navbar {
    height: 20px;
    width: 100%;
    background-color: black;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
}

/* clock */
.txt {
    font-size: 0.70rem;
    font-family: 'Roboto', sans-serif;
    color:#cac7c7;
    text-align: center;
    margin: auto;
}

.console {
    width: 100%;
    height: 180px;
    /* background-color: blanchedalmond; */
    margin-top: 0.5rem;
   
}

.btn {
    height: 360px;
    width: 100%;
    /* background-color: aqua; */
    flood-opacity: inherit;
    margin-top: 15px;
    
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    border: none;
    color: black;
    border-radius: 10px;
    width: 95%;
    height: 95%;
    
}

input[type=button] {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(236, 234, 234);
    color: black;
    border: solid rgb(240, 235, 235) 0.1px;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    outline: none;
    box-shadow: 0px 4px 10px rgb(200, 197, 197);;
    cursor: pointer;
    margin: 5px
}